
<mat-grid-list cols="1" *ngIf="!hero; else divHero">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divHero>
    
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px">

         <div fxFlex="50">
             <h1>{{ hero.name }}</h1>
             <mat-divider></mat-divider>
             <br>
             <img [src]="hero | image">
         </div>

         <div fxFlex="50">
             <h1>{{ hero.home }}</h1>
             <mat-divider></mat-divider>


             <mat-list>
                <mat-list-item>
                    Primera aparición: {{ hero.appearance }} 
                </mat-list-item>
                <br>
                <br>
                <mat-list-item>
                    Bibliografia: {{ hero.bio }} 
                </mat-list-item>
             </mat-list>

             <br>
             <br>
             <button mat-button
                     color="warn"
                     (click)="return()">
                 Regresar
             </button>
         </div>

    </div>


</ng-template>


