

<div fxLayout="column">
  <div>
      <h1>Buscador de Héroes</h1>
      <mat-divider></mat-divider>
  </div>
  <form autocomplete="off" [formGroup]="miFormulario">
    <div fxLayout="column">
        <h3>Buscador</h3>
        
          <mat-form-field>
              <input type="text"
                    placeholder="Ingrese el nombre del Heroe a buscar"
                    aria-label="Number"
                    matInput
                    formControlName="term"
                    [matAutocomplete]="auto"
                    (input)="search()">

              <mat-autocomplete autoActiveFirstOption 
                                #auto="matAutocomplete"
                                (optionSelected)="selectOption( $event )">

                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                  {{ heroe.nombre }}
                </mat-option>

                <mat-option value="" *ngIf="heroes.length === 0 && term.trim().length > 0">
                  No se encontró nada con el término {{ term }}
                </mat-option>
                

              </mat-autocomplete>
          </mat-form-field>
        
    </div>
  </form>
  <div>
    <app-heroe-card *ngIf="!!heroeSeleccionado" [heroe] = "heroeSeleccionado"></app-heroe-card>
  </div>
</div>



