
<mat-card>
    <mat-card-header>
        <mat-card-title> {{ heroe.nombre }} </mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="heroe | image">
    <!-- <img mat-card-image src="assets/heroes/{{heroe.id}}.jpg"> -->

    <mat-card-content>
        <h3>{{ heroe.casa }}</h3>
        <p>
            <strong>Primera aparición</strong> {{ heroe.aparicion }}
            <br>
            <strong> Bibliografia: </strong> {{ heroe.bio }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/heroes', heroe.id ]">
            Leer más...
        </button>

        <button mat-button 
                color="info"
                [routerLink]="['/heroes/editar', heroe.id ]">
            Editar
        </button>
    </mat-card-actions>

</mat-card>
